In [32]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np

In [33]:
df = pd.read_csv("merge_1.csv")
df = df.dropna()
df

            live     open     high      low    close    histoy
1       0.195521   0.4442   0.4457   0.4436   0.4438  0.194375
2       0.005254   0.4438   0.4477   0.4435   0.4461  0.109276
3       0.193051   0.4461   0.4474   0.4443   0.4473  0.211418
4       0.282928   0.4473   0.4517   0.4462   0.4497  0.377355
5       0.567708   0.4496   0.4578   0.4492   0.4554  0.790400
...          ...      ...      ...      ...      ...       ...
176698 -0.866547  10.8600  10.8800  10.8200  10.8300 -0.903663
176699 -0.445951  10.8500  10.8500  10.7700  10.8200 -0.473987
176700 -0.046607  10.8100  10.9200  10.8000  10.9100  0.108881
176701  0.727916  10.9200  10.9600  10.8700  10.9500  0.751798
176702  1.381124  10.9600  11.1200  10.9000  11.1100  1.594465

[176702 rows x 6 columns]

In [34]:
cdf = df[["live" , "open","high",'low','close','histoy']]
cdf

            live     open     high      low    close    histoy
1       0.195521   0.4442   0.4457   0.4436   0.4438  0.194375
2       0.005254   0.4438   0.4477   0.4435   0.4461  0.109276
3       0.193051   0.4461   0.4474   0.4443   0.4473  0.211418
4       0.282928   0.4473   0.4517   0.4462   0.4497  0.377355
5       0.567708   0.4496   0.4578   0.4492   0.4554  0.790400
...          ...      ...      ...      ...      ...       ...
176698 -0.866547  10.8600  10.8800  10.8200  10.8300 -0.903663
176699 -0.445951  10.8500  10.8500  10.7700  10.8200 -0.473987
176700 -0.046607  10.8100  10.9200  10.8000  10.9100  0.108881
176701  0.727916  10.9200  10.9600  10.8700  10.9500  0.751798
176702  1.381124  10.9600  11.1200  10.9000  11.1100  1.594465

[176702 rows x 6 columns]

In [35]:
msk = np.random.rand(len(df)) < 0.8
train = cdf[msk]
test = cdf[~msk]

In [36]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
x = np.asanyarray(train[["open","high",'low','close','histoy']])
y = np.asanyarray(train[['live']])
regr.fit (x, y)
# The coefficients
print ('Coefficients: ', regr.coef_)
print ('intercept_: ', regr.intercept_)

Coefficients:  [[ 1.21071287e-03 -2.99076594e-04 -2.32975143e-04 -6.78235215e-04
   9.85277307e-01]]
intercept_:  [-0.00330682]

In [37]:
y_hat= regr.predict(test[["open","high",'low','close','histoy']])
x = np.asanyarray(test[["open","high",'low','close','histoy']])
y = np.asanyarray(test[['live']])
# print("Residual sum of squares: %.2f"
# % np.mean((y_hat - y) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x, y))

Variance score: 1.00

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(